@font-face {
	font-family: 'ArialMT';
	src: url('../fonts/ARIALMT.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}  

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-Regular.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: url('../fonts/HelveticaNeueCyr-Medium.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@media only screen and (width: 700px){
	.box-wrapper{
		margin-top: 100px;
		padding-top: 100px;
	}
}

body{
	background-color: #d2e1ff;
}

.box{
	width: 50%;
	min-width: 250px;
	max-width: 700px;
	padding-top: 3px;
	padding-bottom: 0.1px;
	border-radius: 10px;
	box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.18);
	background-color: #ffffff;
}

.box-wrapper{
	position: relative;
	width: 100%;
	min-height: 450px;
}

.fixToCenter{
	position: absolute;
	margin: 0 auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.error-alert{
	width: 300px;
	height: 100%;
	padding: 5px;
	background-color: #323335;
}

.response-message{
	opacity: 0;
	background-color: green;
	height: 40px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 15px;
	transition: opacity 0.8s linear;
}

.show{
	opacity: 1;
	display: block !important;
}

.hide{
	opacity: 0;
	display: none !important;
}

.red{
	background-color: red !important;
}

.validity{
	width:130px;
	position:fixed;
	margin-top:-40px;
	margin-left: -95px;
	background-color: red;
	font-weight: bold;
	color: white;
	padding: 3px;
	border-radius: 3px;
	opacity: 0.6;
	display: none;
}

.validity::before {
	content:""; 
	position:absolute; 
	bottom:-10px; 
	left:20px; 
	border-width:10px 10px 0; 
	border-style:solid; 
	border-color:#ff0000 transparent; 
}

.error-alert p{
	color:red;
	font-weight: bold;
	line-height: 20px;
}

.state-wrapper{
	padding: 0px 3px 3px 3px;
}

.state{
	height: 61px;
	position: relative;
	border-radius: 10px;
	box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.48);
	background-color: #ffc600;
	background-image: linear-gradient(to top, rgba(219, 123, 30, 0.48) 0%, rgba(199, 130, 21, 0) 100%);
}

.state p{
	padding-left: 19px;
	text-shadow: 1px 1px 0 #686868;
	color: #ffffff;
	font-family: "ArialMT";
	font-size: 16px;
	font-weight: 400;
	line-height: 61px;
}

.inner{
	margin: -29px 4px 3px 4px;
	padding: 30px 10px 7px 10px;
	max-height: 500px;
	border-radius: 10px;
	background-color: #dedede;
	opacity: 1;
	transition: max-height 0.5s linear, opacity 0.1s linear;
}

.inner-close{
	opacity: 0;
	height: 0px;
	max-height: 0px;
	overflow: hidden;
	margin-top: -40px;
}

.inner-open{
	opacity: 1;
	max-height: 500px;
	margin-top: -29px;
}

.inner button{
	width: 130px;
	height: 30px;
	border: none;
	border-radius: 10px;
    color: white;
    font-family: "MyriadPro";
    font-size: 16px;
    font-weight: 400;
	box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.48);
	background-color: #3e4ab8;
	background-image: linear-gradient(to top, rgba(177, 128, 245, 0.48) 0%, rgba(199, 130, 21, 0) 100%);
}

.inner label{
	float: left;
	width: 100%;
	padding-left: 3px;
	margin-right: 1em;
	color: #000000;
	font-family: "HelveticaNeueCyr-Medium";
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
}

.inner input{
	font-weight: bold;
	font-size: 14px;
	padding-left: 10px;
	margin-bottom: 5px;
	width: 210px;
	height: 40px;
	border: none;
	border-radius: 10px;
	box-shadow: inset 1px 1px 9px rgba(0, 0, 0, 0.48);
	background-color: #ffffff;
}

.inner select{
	font-weight: bold;
	font-size: 14px;
	padding-left: 10px;
	margin-bottom: 5px;
	width: 210px;
	height: 40px;
	border: none;
	border-radius: 10px;
	box-shadow: inset 1px 1px 9px rgba(0, 0, 0, 0.48);
	background-color: #ffffff;
}

.field{
	float: left;
	width:230px;
	
}

.clear{
	clear: both;
	display: block;
	height: 0;
	line-height: 0;
	overflow: hidden;
	font-size: 0;
}

.b-wrapper{
	height: 30px;
	text-align: right;
}

.button{
	width: 130px;
	height: 35px;
	box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.48);
	background-color: #3e4ab8;
	background-image: linear-gradient(to top, rgba(177, 128, 245, 0.48) 0%, rgba(199, 130, 21, 0) 100%);
}

.cssload-fond{
	position:relative;
	margin: auto;
	top: 10%;
	z-index: 1000;
	display: none;
}

.cssload-container-general
{
	animation:cssload-animball_two 1.15s infinite;
		-o-animation:cssload-animball_two 1.15s infinite;
		-ms-animation:cssload-animball_two 1.15s infinite;
		-webkit-animation:cssload-animball_two 1.15s infinite;
		-moz-animation:cssload-animball_two 1.15s infinite;
	width:43px; height:43px;
}
.cssload-internal
{
	width:43px; height:43px; position:absolute;
}
.cssload-ballcolor
{
	width: 19px;
	height: 19px;
	border-radius: 50%;
}
.cssload-ball_1, .cssload-ball_2, .cssload-ball_3, .cssload-ball_4
{
	position: absolute;
	animation:cssload-animball_one 1.15s infinite ease;
		-o-animation:cssload-animball_one 1.15s infinite ease;
		-ms-animation:cssload-animball_one 1.15s infinite ease;
		-webkit-animation:cssload-animball_one 1.15s infinite ease;
		-moz-animation:cssload-animball_one 1.15s infinite ease;
}
.cssload-ball_1
{
	background-color:rgb(203,32,37);
	top:0; left:0;
}
.cssload-ball_2
{
	background-color:rgb(248,179,52);
	top:0; left:23px;
}
.cssload-ball_3
{
	background-color:rgb(0,160,150);
	top:23px; left:0;
}
.cssload-ball_4
{
	background-color:rgb(151,191,13);
	top:23px; left:23px;
}





@keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-o-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-ms-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-webkit-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-moz-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@keyframes cssload-animball_two
{
	0%{transform:rotate(0deg) scale(1);}
	50%{transform:rotate(360deg) scale(1.3);}
	100%{transform:rotate(720deg) scale(1);}
}

@-o-keyframes cssload-animball_two
{
	0%{-o-transform:rotate(0deg) scale(1);}
	50%{-o-transform:rotate(360deg) scale(1.3);}
	100%{-o-transform:rotate(720deg) scale(1);}
}

@-ms-keyframes cssload-animball_two
{
	0%{-ms-transform:rotate(0deg) scale(1);}
	50%{-ms-transform:rotate(360deg) scale(1.3);}
	100%{-ms-transform:rotate(720deg) scale(1);}
}

@-webkit-keyframes cssload-animball_two
{
	0%{-webkit-transform:rotate(0deg) scale(1);}
	50%{-webkit-transform:rotate(360deg) scale(1.3);}
	100%{-webkit-transform:rotate(720deg) scale(1);}
}

@-moz-keyframes cssload-animball_two
{
	0%{-moz-transform:rotate(0deg) scale(1);}
	50%{-moz-transform:rotate(360deg) scale(1.3);}
	100%{-moz-transform:rotate(720deg) scale(1);}
}
